ul.dmaccordion{
  list-style: none;
  padding: 0;
}
ul.dmaccordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul.dmaccordion .inner.show {
  /*display: block;*/
}
ul.dmaccordion li {
  margin: .5em 0;
}
ul.dmaccordion li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul.dmaccordion li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}
