/*capcalera AMPA*/
#header .row .large-12.small-12.columns {
	display:none;
}	
/*color*/	
.dmcolorred {
	color: #990000;
}
.dmcolorblue {
	color: #087eb6;
}
.dmcolorblank {
	color: #000000;
}
/*font-size*/
.dmfontsize11 {
	font-size:1.1em;
}
.dmfontsize12 {
	font-size:1.2em;
}
.dmfontsize13 {
	font-size:1.3em;
}
.dmfontsize14 {
	font-size:1.4em;
}
.dmfontsize15 {
	font-size:1.5em;
}
.dmfontsize16 {
	font-size:1.6em;
}
.dmfontsize17 {
	font-size:1.7em;
}
.dmfontsize18 {
	font-size:1.8em;
}
.dmfontsize19 {
	font-size:1.9em;
}
.dmfontsize20 {
	font-size:2em;
}
/*margin*/
.dmmargin-top-1 {
	margin-top: 1em;
}
.dmmargin-top-2 {
	margin-top: 2em;
}
.dmmargin-top-3 {
	margin-top: 3em;
}
/*align*/
.dmtextaligncenter {
	text-align:center;
}
/*clear*/
.dmclear:before,
.dmclear:after {
  content: "";
  display: table;
} 
.dmclear:after {
  clear: both;
}
.dmclear {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/*table responseive*/
table.dmtable-responsive {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table.dmtable-responsive caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table.dmtable-responsive tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table.dmtable-responsive th,
table.dmtable-responsive td {
  padding: .625em;
  text-align: center;
}
table.dmtable-responsive th {
  font-size: .85em;
  /*
  letter-spacing: .1em;
  text-transform: uppercase;
  */
}
@media screen and (max-width: 600px) {
  table.dmtable-responsive {
    border: 0;
  }
  table.dmtable-responsive caption {
    font-size: 1.3em;
  }
  table.dmtable-responsive thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table.dmtable-responsive tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table.dmtable-responsive td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table.dmtable-responsive td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    /*text-transform: uppercase;*/
  }
  table.dmtable-responsive td:last-child {
    border-bottom: 0;
  }
}
